:root {
    font-family: 'Montserrat', sans-serif;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --p-font-size: 1.2rem;
    --primary-color: #233b86;
    --secondary-color: #fefefe;
    --accent: #151515;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
}


main {
    grid-column: span 1;
}

section {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent);
    border-radius: 2rem;
    padding: 1rem;
    color: var(--accent);
    margin-bottom: 20px;
}

section img {
    border-radius: 2rem;
    padding: 2rem;
}

#cards h2 {
    text-align: center;
    text-decoration: None;
    color: var(--primary-color);
    font-size: var(--h2-font-size);
}

#cards p {
    text-align: center;
    font-size: var(--p-font-size);
}

header,
footer {
    grid-column: span 3;
    padding: 3rem;
    text-align: center;
    background-color: var(--accent);
    color: var(--secondary-color);
}

header {
    margin-bottom: 5rem;
}

header h1 {
    margin: auto;
    padding: 1rem;
    color: var(--secondary-color);
    max-width: 50%;
    border-radius: 1rem;
    font-size: var(--h1-font-size);
}