@media screen and (min-width: 45rem) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;

        --primary-color: #62ab32;
        --secondary-color: #081a3a;
        --accent1: #64cd1d;
        --accent2: #081a3a;
    }

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    .fade-in {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .fade-in.loaded {
        opacity: 1;
    }


    .hero-container {
        height: 45vh;
    }

    .hero .hero-container img {
        width: 90%;
        min-height: 45vh;
        border: none;
        margin-left: 4rem;
    }

    #hero-info {
        margin-right: 0px;
        width: 50%;
    }

    nav {
        display: grid;
        grid-column: 1/4;
        background-color: var(--black);
        position: static;
        top: 0;
        padding: 1rem;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 240px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

    }

    nav a {
        color: var(--accent2);
        text-transform: uppercase;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 5px;
        /* New: Add spacing between links on smaller screens */
    }

    nav a:hover::before {
        color: #f3f3f3;
    }

    nav a:hover {
        transition: 200ms;
        font-weight: 200;
        color: #f3f3f3;
    }

    .section .hero-container {
        position: relative;
    }



    section#hero-info {
        display: inline-block;
        color: var(--accent2);
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        text-align: center;
        background-color: #f3f3f3;
        padding: 100px 5px 150px 5px;
        margin-right: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -105%);
        /* border: 2px solid var(--accent1); */
    }


    section#hero-info p {
        background-color: #f3f3f3;
        font-size: 1.5rem;
        width: 100%;
    }

    span.cta-button {
        display: inline-block;
        padding: 20px 30px 20px 30px;
        position: absolute;
        top: 50%;
        /* Center vertically */
        left: 50%;
        /* Center horizontally */
        transform: translate(200%, -200%);
        /* Center both vertically and horizontally */
        font-family: 'Roboto', sans-serif;
        color: var(--accent1);
        background-color: #151515;
        border: 3px solid var(--secondary-color);
        border-radius: 2rem;
    }

    span.cta-button:hover {
        cursor: pointer;
        background-color: var(--accent2);
    }

    nav {
        flex-direction: column;
        display: grid;
        grid-column: 1/4;
        background-color: var(--accent1);
        position: sticky;
        top: 0;
        padding: 1rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        height: 80px;
    }


    nav ul {
        display: flex;
        grid-column: 1/4;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    main {
        display: inline-block;
        /* align-items: left;
        align-content: left; */
        justify-content: center;
        padding: 2rem;
        margin-left: 3rem;
        margin-top: 4rem;
        width: 50rem;
    }

    main h1 {
        color: var(--accent1);
        font-size: 3rem;
        padding-bottom: 1rem;
    }

    main p {
        color: #fefefe;
        font-size: 25px;
        padding-bottom: 1rem;
    }

    main button {
        padding: 20px 30px 20px 30px;
        background-color: var(--accent1);
        border: 3px solid var(--secondary-color);
        border-radius: 2rem;
    }

    main button a {
        color: var(--accent1);
        font-size: 1.2rem;
    }

    main button:hover {
        cursor: pointer;
        background-color: var(--accent1);
    }

    #discovery {
        margin-top: 60px;
    }

    .discovery-container {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 75rem;
        height: fit-content;
        padding: 2rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
        transform: translate(10%, 5%);

    }

    .discovery-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .discovery-card h2 {
        font-size: 1.6rem;
        color: var(--accent1);
        padding: 1rem;
        text-align: center;
    }

    .discovery-card p {
        font-size: 1rem;
        padding: 1rem;
    }



    .discovery-card img {
        /* scale: 100%; */
        padding: 20px 30px 20px 15px;
        margin-left: 1rem;
    }

    #directory {
        margin-top: 60px;
    }

    .directory-search {
        display: flex;
        flex-direction: row;
    }

    .directory-search input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 30rem;
    }

    .directory-search button {
        /* float: center; */
        padding: 6px 10px;
        margin-top: 8px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .directory-search button:hover {
        background: var(--accent1);
    }

    .directory-container {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 80rem;
        padding: 2rem;
        justify-content: space-evenly;
        align-items: center;
        transform: translate(3%, 10%);

    }


    .directory-card {
        /* display: inline-block;
        flex-direction: row;
        gap: 1.6rem; */

        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .directory-card h2 {
        font-size: 1.6rem;
        color: var(--accent1);
        padding: 1rem;
    }

    .directory-card p {
        font-size: 1rem;
        padding: 1rem;
    }



    .directory-card img {
        /* scale: 110%; */
        padding: 20px 30px 20px 15px;
        margin-left: 1rem;
    }

    .join-us {
        width: 80%;
        min-height: 30vh;
        margin-top: 120px;
        position: absolute;
        transform: translate(5%, 0%);
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        border-radius: 5px;
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right img {
        width: 500px;
        height: 500px;
        margin: 20px;
        border-radius: 10px;
    }

    .left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 22px;
    }

    .left button:hover {
        background-color: var(--accent2);
        color: var(--accent1);
    }

    /*-- Discover Page --*/

    #discover-container {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 3rem;
        margin-left: .5rem;
    }

    .main-content {
        grid-column: 1 / 2;
    }

    .main-content h1,
    h2,
    p {
        padding: 2rem;
    }

    .main-content h2 {
        color: var(--accent1);
    }

    .sidebar {
        grid-column: 2 / 3;
        background-color: var(--primary-color);
        height: fit-content;
    }

    .sidebar h1 {
        color: var(--accent2);
        text-align: center;
    }

    .news {
        display: flex;
        flex-direction: column;
    }

    .pres-news img {
        padding: 1rem 1rem 0 1rem;
        margin: 0 0 0 0;
    }

    .info-news {
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: var(--secondary-color);
    }

    .statistics {
        display: flex;
        flex-direction: column;
    }

    .statistics img {
        padding: 1rem 1rem 0 1rem;
        margin: 0 0 0 0;
    }

    .info-stats {
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: var(--secondary-color);
    }

    .visitor p {
        color: #151515;
    }

    /*Form CSS*/
    #join-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .membership-benefits {
        margin-top: 0;
        margin-left: 2rem;
    }

    label {
        color: var(--accent1);
        padding: 1.2rem 0 1.2rem 0;
    }

    #join-form button {
        color: #151515;
        background-color: #fefefe;
    }

    #join-form button:hover {
        color: var(--accent2);
        background-color: var(--accent1);
    }

    footer {
        position: relative;
        background: var(--accent1);
        padding: 80px 50px 40px;
        margin-top: 50rem;
    }

    footer .cols {
        display: flex;
        align-items: start;
    }

    footer .cols .about-col {
        flex: 3;
    }

    footer .cols .about-col h3 {
        color: var(--secondary-color);
        margin-bottom: 20px;
    }

    footer .cols .about-col p {
        color: #353535;
        font-size: 13px;
    }

    footer .cols .links-col {
        flex: 3;
    }

    footer .cols .links-col h4,
    footer .cols .news-col h4 {
        color: #353535;
        margin-bottom: 20px;
    }

    footer .cols .links-col a {
        display: block;
        text-decoration: none;
        color: #151515;
        font-size: 14px;
        line-height: 26px;
        transition: color 0.3s ease;
    }

    footer .cols .links-col a:hover {
        color: var(--secondary-color);
    }

    footer .cols .news-col {
        flex: 3;
    }

    footer .cols .news-col p {
        color: #151515;
        font-size: 15px;
    }

    footer .cols .news-col form {
        width: 100%;
        margin-top: 20px;
        position: relative;
    }

    footer .cols .news-col form input {
        width: 100%;
        background: var(--accent2);
        border: none;
        padding: 13px;
        border-radius: 100px;
        font-weight: 400;
        font-size: 13px;
    }

    footer .cols .news-col form button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background: #fefefe;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    footer .cols .news-col form button:hover {
        background-color: #fefefe;
        color: var(--accent1);
    }

    footer .cols .news-col form button i {
        font-size: 26px;
    }

}