body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 4;
}

main {
  background: coral;
  grid-column: 1 / 3;
}

nav {
  background: #bed;
  grid-column: 1/4;
  padding: 1rem;
}

.right-sidebar {
  background: yellow;
  grid-column: 3 / 4;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
