* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    --primary-color: #62ab32;
    --secondary-color: #081a3a;
    --accent1: #64cd1d;
    --accent2: #081a3a;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--secondary-color);
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.loaded {
    opacity: 1;
}


.hero-container {
    height: 20vh;
}

.hero .hero-container img {
    width: 100%;
    min-height: 20vh;
    border: none;
    position: static;
}

section#hero-info {
    color: #fefefe;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
}

section#hero-info p {
    font-size: 0.8rem;
    text-align: left;
    padding: 1rem;
    height: 10rem;
    width: 15rem;
    background-color: var(--accent1);
}

span.cta-button {
    display: inline-block;
    transform: translate(280%, -250%);
    color: var(--accent1);
    background-color: #fefefe;
    padding: 10px 20px 10px 20px;
    border-radius: 2rem;
    justify-items: center;
}

span.cta-button:hover {
    background-color: var(--accent2);
    cursor: pointer;
    border: solid 2px;
}

.navbar {
    display: block;
    list-style: none;
    width: 100%;
    padding: 20px;
    margin: auto;
    font-size: 1.2rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /* color: #2E6171; */
    background-color: var(--accent1);
    /* border-radius: 10px; */
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #7CAE7A;
    text-shadow: 0 0 5px #2E6171;
}

.active {
    text-decoration: underline;

}

.navbar a {
    text-decoration: none;
    color: #fefefe;
}

.navbar li {
    /* width: 80%; */
    display: none;
    padding: 25px;
    margin: auto;
}


main {
    display: inline-block;
    /* align-items: left;
    align-content: left; */
    justify-content: center;
    padding: 2rem;
    margin-left: 3rem;
    margin-top: 4rem;
    width: 25rem;
}

main button.learn-more {
    font-size: 1rem;
    color: #fefefe;
    border: 1px solid var(--accent1);
    background-color: var(--primary-color);
}

main h1 {
    color: var(--accent1);
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

main p {
    color: #fefefe;
    font-size: 15px;
    padding-bottom: 1rem;
    text-align: left;
}

main button {
    padding: 10px 15px 10px 15px;
    background-color: #fefefe;
    border: 3px solid var(--secondary-color);
    border-radius: 2rem;
}

main button a {
    color: var(--accent2);
    font-size: 1.2rem;
}

main button:hover {
    cursor: pointer;
    background-color: var(--accent1);
}

#directory,
#directory-search {
    margin-top: 15rem;
}

section.directory-container img {
    background-color: #fefefe;
    padding: 1rem;
}

section.directory-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.directory-card {
    display: flex;
    flex-direction: column;
}

section.join-us {
    margin-top: 15rem;
    width: 100%;
    padding: 1rem;
}

section.left button {
    padding: 2rem;
}

section.right img {
    width: 120px;
    height: auto;
}

#menu {
    position: absolute;
    font-size: 2rem;
    padding: .3rem;
    text-decoration: none;
}

#menu::before {
    content: '⁝';
}

#menu.show::before {
    content: '…';
}

.show li {
    display: block;
    padding: 20px;
}

/*-- Discover Page--*/

#discover-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}


.main-content h1,
h2,
p {
    padding: 2rem;
}

.main-content h2 {
    color: var(--accent1);
}

#discover-container img {
    width: 300px;
    height: auto;
}


.sidebar {
    background-color: var(--primary-color);
}

.sidebar h1 {
    color: var(--accent2);
    text-align: center;
}


#discovery {
    margin-top: 30px;
}

.discovery-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-left: -60px;
}

.discovery-card {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.discovery-card h2 {
    font-size: 1.6rem;
    color: var(--accent1);
}

.discovery-card p {
    font-size: 1rem;
}



.discovery-card img {
    /* scale: 120%; */
    padding: 10px 30px 30px 10px;
    margin-left: 1rem;
}

#directory-main .directory-menu {
    background-color: var(--accent2);
}

#directory-main .directory-menu #grid,
#list {
    background-color: var(--accent1);
}

article {
    background-color: var(--accent2);
}

main#directory-main {
    background-color: var(--accent2);
    width: 80%;
}

main#directory-main section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 23rem;
    height: 23rem;
    background-color: var(--accent1);
}

main#directory-main .grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
}


main#directory-main .grid section img {
    width: 100px;
    height: auto;
    margin-left: 35%;
}

main#directory-main .grid section h4,
p {
    color: var(--accent2);
    padding: 0.2rem;
    text-align: center;

}

main#directory-main .grid section a {
    text-align: center;
    margin-left: 5rem;
    color: var(--accent2);
}

main#directory-main .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
}

main#directory-main .list section {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 25rem;
    height: 10rem;
    background-color: var(--accent1);
}


main#directory-main .list section img {
    width: 75px;
    height: auto;
    display: block;
    margin-left: 0%;
}

main#directory-main .list section h4,
p {
    color: #fefefe;
    padding: 0.2rem;
    text-align: center;

}

main#directory-main .list section a {
    text-align: center;
    color: var(--accent2);
}

.join-us {
    width: 90%;
    min-height: 15vh;
    margin-top: 150px;
    position: absolute;
    transform: translate(-15%, 10%);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 10px;
}

.left button:hover {
    background-color: var(--accent2);
    color: var(--accent1);
}

/* Style for the form */
#join-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* Adjust the maximum width as needed */
    margin: auto;
}

#join-form div {
    margin-bottom: 20px;
}

#join-form label {
    font-weight: bold;
}

#join-form input[type="text"],
#join-form input[type="email"],
#join-form input[type="tel"],
#join-form select,
#join-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#join-form textarea {
    height: 100px;
}


.membership-benefits {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.membership-benefit {
    margin-bottom: 10px;
}

label {
    color: var(--accent1);
    padding: 1.2rem 0 1.2rem 0;
}

#join-form button {
    color: #151515;
    background-color: #fefefe;
}

#join-form button:hover {
    color: var(--accent2);
    background-color: var(--accent1);
}

/* -- Directory CSS -- */
#body-directory {
    background-color: #bcbcbc;
}

#directory-main {
    display: block;
    padding-bottom: 40px;
    background-color: #bcbcbc;

}

.directory-menu button {
    padding: 1rem;
    font-weight: 700;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #dfdede;
}

.directory-menu button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.directory-menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: skyblue;
    text-align: center;
    width: 20rem;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;

}

.grid section {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #000;
    max-height: 300px;
}

.grid img {
    height: 70px;
    width: auto;
}

.grid #biz-name {
    text-align: center;
    font-size: 1.3rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    border: .5px solid #000;
}

.list section img {
    width: auto;
    height: 50px;
    margin: auto;
}

#biz-name {
    text-align: left;
}

.list #address,
.list #number {
    display: none;
}

.list #biz-site {
    margin: 0 auto;
}

footer {
    position: relative;
    background: var(--accent1);
    padding: 80px 50px 40px;
    margin-top: 50rem;
}

footer .cols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col h3 {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

footer .cols .about-col p {
    color: #ccc;
    font-size: 10px;
}

footer .cols .links-col {
    flex: 3;
}

footer .cols .links-col h4,
footer .cols .news-col h4 {
    color: var(--white-color);
    margin-bottom: 20px;
}

footer .cols .links-col a {
    display: block;
    text-decoration: none;
    color: #151515;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
    color: var(--secondary-color);
}

footer .cols .news-col {
    flex: 3;
}

footer .cols .news-col p {
    color: #151515;
    font-size: 10px;
}

footer .cols .news-col form {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input {
    width: 100%;
    background: var(--accent2);
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #fefefe;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover {
    background-color: #fefefe;
    color: var(--accent1);
}

footer .cols .news-col form button i {
    font-size: 26px;
}

#lastModified {
    font-weight: 200;
}

/* @media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--accent1);
        position: absolute;
        top: 25vh;
        height: 10rem;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .nav-links a {
        color: #fff;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }

    #hamburger-button {
        display: block;
        width: 100%;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

} */