@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Miriam Libre", sans-serif;

  --primary-color: #203864;
  --secondary-color: #f84c2c;
  --white: #fefefe;
  --black: #151515;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary-color);
}

li {
  list-style: none;
}

header {
  padding: 1rem;
  background: var(--primary-color);
  align-items: center;
  align-content: center;
  justify-content: center;
}

span.student-name {
  font-family: 'Montserrat', monospace;
  position: absolute;
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
  color: var(--white);
}

header img {
  height: 125px;
  width: 125px;
  padding: 0px;
  margin-left: 10px;
  align-content: center;
  align-items: center;
  border: 2px solid var(--secondary-color);
}

header h1 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 400;
  padding: 1rem;
  letter-spacing: 2px;
  font-family: "Roboto";
  text-align: center;
}


#hamburger-button {
  display: block;
  font-size: 24px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: color 0.3s ease;
}

#hamburger-button.open {
  color: #f84c2c;
}

.nav-links {
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1e53;
  position: absolute;
  top: 170px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-links a {
  color: #fff;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

section.hero-img {
  position: relative;
}

section.hero-img picture img {
  display: block;
  width: 100%;
  height: auto;
}

section.hero-img span {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  font-size: 2rem;
  padding: 1rem;
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  width: 100%;

}

main {
  padding: 0;
}

main h1 {
  color: var(--primary-color);
  font-size: 3rem;
}

nav {
  /* background-color: var(--black); */
  position: static;
  top: 0;
  padding: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 240px;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}


#mode {
  position: absolute;
  border-radius: 1rem;
  padding: 5px;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

h1 {
  font-size: 1rem;
  color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
  font-weight: 800;
  font-family: "Roboto", "Monsterrat", sans-serif;
  border-bottom: 1px solid var(--primary-color);
  margin: 0rem 1rem 2rem;
}

.card {
  margin: 0 1rem 1rem;
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 5px;
  overflow: hidden;
}

.card h2 {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--white);
  font-size: 1rem;
}

.card ul {
  padding: 1rem;
}

.card ul li {
  list-style-type: none;
}

.card p {
  text-align: center;
  padding: 5px;
}

footer {
  background: var(--primary-color);
  color: var(--white);
  padding: 2rem;
  text-align: center;
}

footer p {
  font-weight: 700;
}

#lastModified {
  font-weight: 200;
}